---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Badge2 from "../components/Badge2.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import PillStack from "../components/PillStack.astro";
import GitHub from "../icons/GitHub.astro";
import Mailicon from "../icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import User from "../icons/User.astro";
import Kotlin from "../icons/Kotlin.astro";
import Html from "../icons/Html.astro";
import Java from "../icons/Java.astro";
import Swift from "../icons/Swift.astro";
import MySQL from "../icons/MySQL.astro";
import BS5 from "../icons/BS5.astro";
import ReactN from "../icons/ReactN.astro";
import Python from "../icons/Python.astro";
import AstroSVG from "../icons/AstroSVG.astro";
---

<Layout title="Mi portFolio">
	<main class="px-2">
		<SectionContainer class="py-44 pb-24" id="top">
			<img
				class="rounded-full size-20"
				src="../../cropped_image.jpg"
				alt="logo que me hizoines"
			/>
			<h1
				class=" text-4xl md:text-4xl font-bold flex pb-3.5 flex-row gap-x-4"
			>
				Hola soy Alex <div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/alejandro-guti%C3%A9rrez-4b863b295/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Disponible a contratación</Badge>
						<Badge2>En periodo de FCTs</Badge2>
					</a>
				</div>
			</h1>
			<h2 class="text-xl opacity-90 text-wrap">
				¡Hola!, actualmente estoy finalizando el grado superior de
				Desarrollo de Aplicaciones Multiplataforma y estoy interesado en
				lenguajes como <a
					href="https://kotlinlang.org/"
					target="_blank"
					rel="noopener"
					class="text-purple-400">Kotlin</a
				> y <a
					href="https://www.java.com/es/"
					target="_blank"
					rel="noopener"
					class="text-red-500">Java</a
				> (Desarrollo web). También estoy aprendiendo <a
					href="https://python.org/"
					target="_blank"
					rel="noopener"
					class="text-yellow-300">Python</a
				>, <a
					href="https://www.oracle.com/es/database/sqldeveloper/"
					target="_blank"
					rel="noopener"
					class="text-gray-500">SQL</a
				> y <a
					href="https://astro.build/"
					target="_blank"
					rel="noopener"
					class="text-orange-600">Astro.</a
				>
			</h2>
			<nav class="flex gap-x-2 mt-5">
				<SocialPill
					href="https://www.linkedin.com/in/alejandro-guti%C3%A9rrez-4b863b295/"
				>
					<LinkedIn class="w-4 h-4" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Alesguga">
					<GitHub class="w-4 h-4" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:alexgutygalan11@gmail.com">
					<Mailicon class="w-4 h-4" />
					alexgutygalan11@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer class="pt-24" id="experiencia">
			<h2 class="text-3xl font-semibold flex gap-x-2 items-center">
				<BriefCase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer class="pt-24" id="proyectos">
			<h2 class="text-3xl font-semibold flex pb-2 gap-x-2 items-center">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer class="pt-14" id="sobre-mi">
			<h2 class="text-3xl font-semibold flex items-center gap-x-2">
				<User class="size-6" />
				Sobre mi
			</h2>
			<figure
				class="relative pt-6 transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
			>
				<a href="#top">
					<img
						class="rounded-md shadow-lg shadow-white/30"
						src="../../public/more_cropped_image.jpg"
						alt=""
					/>
				</a>
			</figure>
			<div
				class="max-w-xl mx-auto bg-slate-600 hover:bg-slate-700 transition-colors duration-300 rounded-lg shadow-lg hover:shadow-2xl mt-4"
			>
				<div class="p-6">
					<p
						class="text-sm text-white/90 leading-relaxed tracking-wide text-justify"
					>
						Tengo también experiencia con HTML5, Bootstrap y
						Tailwind CSS. Tengo conocimiento de despliegue de
						páginas web con HTTPS, gestión de DNS y SSL mediante
						Azure y actualmente estoy aprendiendo cómo hacerlo
						mediante AWS. He usado varios workspaces y me adapto
						rápido. Acabo de comenzar a aprender cómo hacer tu
						propia API con PHP y poder almacenarla en tu dominio.
						También aprendiendo Swift para poder hacer buenas Apps
						de iPhone de forma nativa.
					</p>
				</div>
			</div>
		</SectionContainer>

		<SectionContainer class="pt-20" id="Tech-Stack">
			<h2 class="text-3xl font-semibold flex items-center gap-x-2">
				<CodeIcon class="size-8" />
				Mi Tech Stack
			</h2>
			<div class="container pt-6 mx-auto items-center">
				<div class="flex flex-wrap">
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<Kotlin class="size-7" />
							<h3 class="text-xl text-white/90">Kotlin</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<Html class="size-7" />
							<h3 class="text-xl text-white/90">Html</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<Java class="size-8" />
							<h3 class="text-xl text-white/90">Java</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<Swift class="size-8" />
							<h3 class="text-xl text-white/90">Switt</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<MySQL class="size-7" />
							<h3 class="text-xl text-white/90">SQL</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<BS5 class="size-8" />
							<h3 class="text-xl text-white/90">BS5</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<ReactN class="size-7" />
							<h3 class="text-xl text-white/90">React Na</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<AstroSVG class="size-7" />
							<h3 class="text-xl text-white/90">Astro</h3>
						</PillStack>
					</div>
					<div class="w-full mt-3 md:w-1/3 px-2">
						<PillStack>
							<Python class="size-7" />
							<h3 class="text-xl text-white/90">Python</h3>
						</PillStack>
					</div>
				</div>
			</div>
		</SectionContainer>
	</main>
</Layout>
