---
import GitHub from "../icons/GitHub.astro";
import Firebase from "../icons/Firebase.astro";
import Swift from "../icons/Swift.astro";
import Android from "../icons/Android.astro";
import Kotlin from "../icons/Kotlin.astro";
import ReactN from "../icons/ReactN.astro";
import Java from "../icons/Java.astro";
import Html from "../icons/Html.astro";
import BS5 from "../icons/BS5.astro";
import MySQL from "../icons/MySQL.astro";
---

<div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/2 px-2">
        <article class="mb-3">
            <h3 class="text-2xl font-semibold text-blue-400 pb-2">
                Firebase Swift Authentication
            </h3>
            <p class="pb-3 text-pretty">
                Aplicacion simple en Swift que accede a Auth de Firebase y
                verifica que si el usuario se ha registrado, permite logearse y
                registrarse y acceder a otra pantalla donde te dice lo anteriormente mecionado.
            </p>
            <a
                class="pb-3 flex gap-x-4"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Alesguga/FirebaseAuthPrueba"
            >
                <GitHub />
                GitHub
            </a>
            <ul class="flex gap-x-2 flex-row">
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Firebase class="size-4" />
                        Firebase
                    </span>
                </li>
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Swift class="size-4" />
                        Swift
                    </span>
                </li>
            </ul>
            <img
                class="rounded-xl shadow-2xl shadow-white/10"
                src="https://miro.medium.com/v2/resize:fit:1358/1*eRNTvkVtGIG2B1L62WQXNA.png"
                alt={`Captura de pantalla del proyecto`}
            />
        </article>
    </div>
    <div class="w-full md:w-1/2 px-2 pb-10">
        <article class="mb-3">
            <h3 class="text-2xl font-semibold text-blue-400 pb-2">Games4All</h3>
            <p class="pb-3 text-pretty">
                Aplicacion en React Native que busca videojuegos accediendo a
                una Api, cuenta con unos filtros de busqueda y diseño para Apple
                y Android
            </p>
            <a
                class="pb-3 flex gap-x-4"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Alesguga/AppConsumesApiRN"
            >
                <GitHub />
                GitHub
            </a>
            <ul class="flex gap-x-2 flex-row">
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <ReactN class="size-4" />
                        React Native
                    </span>
                </li>
                <li></li>
            </ul>
            <img
                class="rounded-xl shadow-2xl shadow-white/10"
                src="https://assets.xboxservices.com/assets/1d/5b/1d5bc84f-2135-4e2f-8ca6-bb000d97db7f.jpg?n=Elden-Ring_GLP-Poster-Image-1084_1920x1080.jpg"
                alt={`Captura de pantalla del proyecto`}
            />
        </article>
    </div>
    <div class="w-full md:w-1/2 px-2">
        <article class="mb-3">
            <h3 class="text-2xl font-semibold text-blue-400 pb-2">
                Chistes Retrofit
            </h3>
            <p class="pb-3 text-pretty">
                Aplicación en Android Studio en Kotlin que accedemos a una api
                mediante Retrofit que tiene login categorias de chistes buscador
                y permite introducir nuevos chistes
            </p>
            <a
                class="pb-3 flex gap-x-4"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Alesguga/ChistesRetrofit"
            >
                <GitHub />
                GitHub
            </a>
            <ul class="flex gap-x-2 flex-row">
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Android class="size-4" />
                        Android
                    </span>
                </li>
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Kotlin class="size-4" />
                        Kotlin
                    </span>
                </li>
            </ul>
            <img
                class="rounded-xl shadow-2xl shadow-white/10"
                src="https://piks.eldesmarque.com/bin/2023/06/07/230606_dep_betis_homenaje_joaquin_zona_mixtamovmxf_frame_10538.jpeg"
                alt={`Captura de pantalla del proyecto`}
            />
        </article>
    </div>
    <div class="w-full md:w-1/2 px-2">
        <article class="mb-3">
            <h3 class="text-2xl font-semibold text-blue-400 pb-2">PorraGut</h3>
            <p class="pb-3 text-pretty">
                Web usando JavaWeb con JPA, JSTL, Ajax y una BBDD en Oracle para
                hacer una web de apuestas de goles de partidos de futbol de la
                liga española.
            </p>
            <a
                class="pb-3 flex gap-x-4"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Alesguga/PorraGutJPA"
            >
                <GitHub />
                GitHub
            </a>
            <ul class="flex gap-x-2 flex-row">
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Java class="size-4" />
                        Java y JS
                    </span>
                </li>
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <MySQL class="size-4" />
                        SQL
                    </span>
                </li>
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <Html class="size-4" />
                        HTML
                    </span>
                </li>
                <li>
                    <span
                        class="flex gap-x-2 rounded-full py-1 px-2 mb-3 items-center text-sm bg-white/15"
                    >
                        <BS5 class="size-4" />
                        BS5
                    </span>
                </li>
            </ul>
            <img
                class="rounded-xl shadow-2xl shadow-white/10"
                src="https://www.mundiario.com/asset/thumbnail,1280,720,center,center/media/mundiario/images/2023/08/13/2023081312144866046.jpg"
                alt={`Captura de pantalla del proyecto`}
            />
        </article>
    </div>
</div>
